:root {
    --primary-text-color: #a1a1a1;
    --secondary-text-color: #a9a9a9;
    --tertiary-text-color: #2c2c2c;
    --url-color: #007bff;
    --primary-bg-color: #232323;
    --secondary-bg-color: #3d3d3d;
    --primary-border-color: #333;
    --default-box-shadow: 0 0 10px rgba(23, 0, 21, 0.1);
    --hover-box-shadow: 0 0 20px rgba(57, 0, 51, 0.7);
    --button-success-bg-color: #008304;
    --button-success-hover-bg-color: #035c06;
    --button-danger-bg-color: #bc1a2a;
    --button-danger-hover-bg-color: #7b141f;
}

* {
    box-sizing: border-box;
    /* font-family: "Dosis", serif; */
    /* font-family: "Press Start 2P", serif; */
    font-family: "Audiowide", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#cdList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cdCard {
    width: 40vw;
    min-width: 300px;
    max-width: 600px;
    margin: 20px;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    border-radius: 5px;
    box-shadow: var(--default-box-shadow);
    cursor: pointer;
    transition: .2s;
}

.cdCard:hover {
    box-shadow: var(--hover-box-shadow);
}

.cdCard button {
    margin-right: 5px;
}

.cdCardAlbum {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.cdCardArtist {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cdCardYear {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}
  
.modal-content {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border: 1px solid #888;
    color: var(--secondary-text-color);
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.close {
    position: sticky;
    color: #aaa;
    float: right;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

form button {
    background-color: var(--button-success-bg-color);
    color: var(--tertiary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--button-success-hover-bg-color);
}

form button[type="button"] {
    background-color: var(--button-danger-bg-color);
    float: right;
}

form button[type="button"]:hover {
    background-color: var(--button-danger-hover-bg-color);
}

#cdInfoSection,
#cdEditSection {
  display: block;
}

#editButton {
    background-color: var(--button-success-bg-color);
    color: var(--tertiary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#openAddModal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #04b409;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 100px;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#openAddModal:hover {
    color: #0a8a0f;
}

#searchField {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    font-size: 22px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    font-size: 16px;
    box-sizing: border-box;
}

a {
    color: var(--url-color);
}